<div class="container">

  <h1 class="text-center py-3 display-4">Add a new photo</h1>
  <div class="container">
    <div class="form-group">
      <%= render 'form', photo: @photo, :class => "form-control" %>

      <%= link_to 'Back', photos_path, :class => "btn btn-outline-warning" %>
    </div>
  </div>
</div>
