<!-- Parallax Start -->
  <section>
    <div class="parallax">
      <h3 class="display-2 text-center" id="parallaxAbout">About Me</h3>
    </div>
  </section>

  <!-- Image and Who I Am -->

  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="../assets/profileCopy.jpg" class="image-fluid" alt="" id="about_image">
        </div>
        <div class="col-md-7" id="about_top">
          <h1 class="text-center">Who am I</h1>
          <p>My name is Brent and I am a photographer and web developer living in Austin, TX. I am motivated and always striving to improve in my everyday life. I got into photography about 3 year ago and have not looked back. I am always looking for the next shot and to improve constantly with both taking pictures and also refining my editing. I have met some amazing people along the way and cant thank those in my life that have pushed me to go further and do what I love.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax2">
      <h3 class="display-2 text-center" id="parallaxAbout">Inspiration</h3>
    </div>
  </section>


  <!--  Inspiration -->

  <section class="bg-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7" id="about_top">
          <h1 class="text-center">Inspiration</h1>
          <p>With the power of Instagram, there are so many out there that inspire me when it comes to photography. Samuel Elkins is probally the most at this point. I love the editing and videos that he shares and has traveled all over. I am inspired by my parter as well, he supports me in all that I do and is a positive role model that I am so fortunate to walk through life with. There is so much to be inspired by and I want to capture every moment with photography so that it will last a lifetime.</p>
        </div>
        <div class="col-md-5">
          <img src="../assets/profileCopy.jpg" class="image-fluid" alt="" id="about_image">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax3">
      <h3 class="display-2 text-center" id="parallaxAbout">Journey</h3>
    </div>
  </section>


  <!-- Journey and where I want to go -->
    <section class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="../assets/profileCopy.jpg" class="image-fluid" alt="" id="about_image">
          </div>
          <div class="col-md-7" id="about_top">
            <h1 class="text-center">Journey</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla, iste totam repudiandae enim recusandae dicta fuga quas, hic in, eius id laborum quo error! Incidunt ipsum et ut quos, quo porro laborum officia, cupiditate harum quia eveniet at quod?</p>
          </div>
        </div>
      </div>
    </section>
