<!-- Parallax Start -->
  <section>
    <div class="parallax">
      <h3 class="display-2 text-center" id="parallaxAbout">About Me</h3>
    </div>
  </section>

  <!-- Image and Who I Am -->

  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="../assets/profileCopy.jpg" class="image-fluid" alt="" id="about_image">
        </div>
        <div class="col-md-7" id="about_top">
          <h4 class="text-center">Who am I</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla, iste totam repudiandae enim recusandae dicta fuga quas, hic in, eius id laborum quo error! Incidunt ipsum et ut quos, quo porro laborum officia, cupiditate harum quia eveniet at quod?</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax2">
      <h3 class="display-2 text-center" id="parallaxAbout">Inspiration</h3>
    </div>
  </section>


  <!--  Inspiration -->

  <section class="bg-secondary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7" id="about_top">
          <h4 class="text-center">Inspiration</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla, iste totam repudiandae enim recusandae dicta fuga quas, hic in, eius id laborum quo error! Incidunt ipsum et ut quos, quo porro laborum officia, cupiditate harum quia eveniet at quod?</p>
        </div>
        <div class="col-md-5">
          <img src="../assets/profileCopy.jpg" class="image-fluid" alt="" id="about_image">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax3">
      <h3 class="display-2 text-center" id="parallaxAbout">Journey</h3>
    </div>
  </section>


  <!-- Journey and where I want to go -->
    <section class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="../assets/profileCopy.jpg" class="image-fluid" alt="" id="about_image">
          </div>
          <div class="col-md-7" id="about_top">
            <h4 class="text-center">Journey</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla, iste totam repudiandae enim recusandae dicta fuga quas, hic in, eius id laborum quo error! Incidunt ipsum et ut quos, quo porro laborum officia, cupiditate harum quia eveniet at quod?</p>
          </div>
        </div>
      </div>
    </section>
